@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

html{
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

.home-body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
  width: 100%;
  height: 50px;
  display: grid;
  background-color: #47cfac;
  justify-content: end;
  align-items: center;
}

header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}

header .icons span {
  color: #e8e5e5;
}

header .icons span:hover {
  color: #55595a;
}


/* DE ESTA FORMA PODEMOS CAMBIAR EL TAMAÑO DE LOS ICONOS */
/* header .icons span::before {
  color: darkcyan;
  font-size: 50px;
} */

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}

nav .nav-logo-container {
  margin-left: 80px;
}

nav .nav-logo-container img {
  width: 240px;
  margin-top: 8px;
}

nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 80px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-decoration: underline;
  }

  nav .profile-link a {
    color: #454545;
}

nav .profile-link a:hover {
  color: #47cfac;
}

/* Main Section */

.home-main {
  width: 100%;
  height: calc(100vh - 140px);
  background-image: url('https://i.postimg.cc/XJm7VSnk/Cover.png');
  background-color: #454545;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  position: relative;
}

.home-main .home-main-title {
  color: white;
  position: absolute;
  top: 120px;
  left: calc(50% - 400px);
  width: 800px;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size: 4.4rem;
  letter-spacing: 8px;
}

.home-main .home-main-button {
  color: rgb(0, 0, 0);
  position: absolute;
  top: 350px;
  left: calc(50% - 60px);
  width: 120px;
  padding: 12px;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size: 2.4rem;
  background-color: #47cfac;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}

.home-main .home-main-button:hover {
  background-color: #59fed5;
  transform: scale(1.05);
}

/* Blog page */

.blog-main {
  font-family: 'Rajdhani', sans-serif;
}


.blog-main .main-news-container {
  background-color: #e6e6e6;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 20px 6% 40px;
}

.main-news-image h2 {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

.main-news-image img {
  width: 100%;
}

.blog-main .main-news-description {
  align-self: center;
  margin-left: 40px;
}

.main-news-container h1 {
  font-size: 5rem;
  line-height: 5.2rem;
  letter-spacing: 6px;
} 

.main-news-container p {
  font-weight: 500;
  font-size: 1.8rem;
}

.main-news-container a {
  display: block;
  width: 80px;
  padding: 10px;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  border: 2px solid #47cfac;
  border-radius: 4px;
}

.main-news-container a:hover {
  border: 2px solid #59fed5;
}

.blogs-container {
  padding: 40px 6% 0;
}

.blogs-container__title {
  text-align: center;
  padding-bottom: 20px;
  font-size: 2.4rem;
  line-height: 2.6rem;
  border-bottom: 1px solid #c8c7c7;
}

.blogs-container .blog-items-container {
  margin: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 40px;
}


.blog-item img {
  width: 100%;
  border-radius: 8px;
}

.blog-item h3 {
  font-size: 2.2rem;
  letter-spacing: 2px;
  margin-top: 15px;
}

.blog-item p {
  font-weight: 500;
  font-size: 1.6rem;
  margin: 8px 0 16px 0;
}

.blog-item a {
  display: block;
  width: 60px;
  margin: 0 auto;
  padding: 6px 30px;
  font-weight: 600;
  font-size: 1.5rem;
  border: 2px solid #47cfac;
  border-radius: 6px;
}

footer {
  background-color: #55595a;
  font-family: 'Rajdhani', sans-serif;
}

footer p {
  color: white;
  text-align: center;
  padding: 20px;
  margin: 0;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
  border-top: 20px solid #47cfac;
}

/* Blog Post */

.post-main {
  font-family: 'Rajdhani', sans-serif;
}

.grid-container {
  max-width: 1200px;
  margin: auto;
}

.post-container {
  padding: 10px 40px 40px;
}

.post-container figure {
  margin: 0;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.post-container .post-contain {
  max-width: 800px;
  padding: 40px 160px 0;
  margin: auto;
}

.post-contain h3 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 2px;
  border-bottom: 1px solid #c8c7c7;
}

.post-contain h1 {
  margin: 20px 0 30px;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.2rem;
  letter-spacing: 2px;
}

.post-contain p {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 1px;
}

.contact-container {
  padding: 40px 0;
  background-color: #f3f0f0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
}

.contact-container .contact-item {
  max-width: 400px;
  display: grid;
  grid-template-areas: 
    "img title"
    "img description";
  grid-template-rows: 1fr 3fr;
}
.item-left {
  justify-self: end;
}

.contact-item img {
  max-width: 120px;
  grid-area: img;
}

.contact-item a {
  padding-left: 20px;
  font-weight: 300;
  font-size: 2.6rem;
  text-decoration: underline 1px;
  }

.contact-item p {
  margin: 0;
  font-weight: 400;
  font-size: 1.8rem;
  padding-left: 20px;
}

/* Profile page */
.profile-main {
  font-family: 'Rajdhani', sans-serif;
}

.about-me-container {
  background-color: #c8c7c7;
}

.about-me-container .grid-container{
  padding: 60px 60px;
  display: flex;
  align-items: center;
}

.about-me-container img {
  width: 40%;
}

.about-me-container .about-me-contain {
  padding-left: 40px;
  width: 60%;
  align-items: center;
}

.about-me-contain h1 {
  padding: 10px 0;
  font-weight: bold;
  font-size: 5rem;
  letter-spacing: 2px;
}

.about-me-contain p {
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}

.my-projects-container {
  padding: 60px 60px;
}

.my-projects-container h2 {
  text-align: center;
  font-weight: 600;
  font-size: 2.8rem;
  margin-bottom: 20px;
}

.my-projects-container article {
  display: inline-block;
  width: calc(100% / 3 - 42px);
  padding-top: 30px;
}

.my-projects-container .middle-project  {
  margin: 0 60px;
}

.my-projects-container article h3 {
  font-weight: 600;
  font-size: 2.4rem;
}

.my-projects-container article p {
  font-weight: 500;
  font-size: 1.8rem;
}